Blood-Pressure-Tracker/Connected Services/DietPlanRefrence/DietPlan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4542/DietPlan.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetBloodPressureType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systolic" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="diastolic" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBloodPressureTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBloodPressureTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreferDietPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systolic" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="diastolic" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreferDietPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPreferDietPlanResult" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>