Blood-Pressure-Tracker/Connected Services/DietPlanRefrence/DietPlan1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DietPlan" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4734/DietPlan.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4734/DietPlan.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4734/DietPlan.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDietPlan_GetBloodPressureType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBloodPressureType" />
  </wsdl:message>
  <wsdl:message name="IDietPlan_GetBloodPressureType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBloodPressureTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IDietPlan_GetPreferDietPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreferDietPlan" />
  </wsdl:message>
  <wsdl:message name="IDietPlan_GetPreferDietPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreferDietPlanResponse" />
  </wsdl:message>
  <wsdl:portType name="IDietPlan">
    <wsdl:operation name="GetBloodPressureType">
      <wsdl:input wsaw:Action="http://tempuri.org/IDietPlan/GetBloodPressureType" message="tns:IDietPlan_GetBloodPressureType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDietPlan/GetBloodPressureTypeResponse" message="tns:IDietPlan_GetBloodPressureType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreferDietPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IDietPlan/GetPreferDietPlan" message="tns:IDietPlan_GetPreferDietPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDietPlan/GetPreferDietPlanResponse" message="tns:IDietPlan_GetPreferDietPlan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDietPlan" type="tns:IDietPlan">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBloodPressureType">
      <soap:operation soapAction="http://tempuri.org/IDietPlan/GetBloodPressureType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreferDietPlan">
      <soap:operation soapAction="http://tempuri.org/IDietPlan/GetPreferDietPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DietPlan">
    <wsdl:port name="BasicHttpBinding_IDietPlan" binding="tns:BasicHttpBinding_IDietPlan">
      <soap:address location="http://localhost:4734/DietPlan.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>